<!--  id="notice"><%= notice %></!--> 

<section class="container">
  <div class="mt-5 p-4 w-25 m-auto" style='background-color:#a2d9ff;border-radius:60px 0px 60px 0px;'>
    <p>
      <strong>Name product:</strong>
      <%= @product.name_product %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <div class="form-action">
    
      <a href="<%= edit_product_path(@product) %>" class="btn btn-sm btn-outline-dark" style="margin-left:110px;">Edit</a>
      <a href="<%= products_path %>" class="btn btn-sm btn-outline-dark">Back</a>
    </div>
  </div>
</section>